.gallery-container {
  margin: 30px auto 0;
  border: 1px solid gray;
  max-width: 1000px;
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 15px;
}

.gallery-item {
  margin: 10px;
}